<div class="pl-20 py-5 shadow" id="dans-mon-chapeau">
    <div>
        <div class="flex gap-2">
            <img class="h-8 w-auto" src="{{ asset('/assets/chapo.svg') }}" alt="">

            <h2 class="font-acme text-3xl">
                Dans mon chapeau
            </h2>
        </div>

        <h3 class="font-acme text-lightgrey">// Mes compétences</h3>
    </div>

    <div class="flex justify-between items-center pr-20">
        <ul>
            <li>Autodidacte</li>
            <li>Développement Back & Front</li>
            <li>Compétence 3</li>
            <li>Compétence 4</li>
        </ul>

        <div class="h-60">
            <img class="h-full w-auto" src="{{ asset('assets/crapouille.png') }}" alt="">
        </div>
    </div>
</div>