<div class="pl-20 py-5 shadow" id="dans-mon-grimmoire">
    <div class="flex gap-2">
        <img class="h-8 w-auto" src="{{ asset('/assets/grimoire.svg') }}" alt="">

        <h2 class="font-acme text-3xl">
            Dans mon grimoire
        </h2>
    </div>

    <h3 class="font-acme text-lightgrey">// Mes projets</h3>
</div>