<header class="flex flex-col gap-5 px-28 py-14 shadow">
    <h1 class="ml-5 font-acme text-7xl">Olivier François</h1>

    <div class="flex gap-10">
        <img class="w-28" src="{{ asset('assets/logo.svg') }}" alt="">

        <div class="flex flex-col gap-3">
            <h2 class="font-acme text-5xl"><span class="text-secondary">Magicien</span> du <span class="text-primary">Web</span></h2>
            <h3 class="text-lightgrey text-xl">//Développeur full-stack</h3>
        </div>
    </div>
</header>