{% extends 'base.html.twig' %}

{% block title %}Olivier François{% endblock %}

{% block body %}
    <div class="flex justify-center items-center animate-bounce text-theme-primary text-4xl font-medium text-center">
        En cours de développement
    </div>
{% endblock %}