{% extends 'base.html.twig' %}

{% block title %}Poke{% endblock %}

{% block body %}

    <nav></nav>

    <main class="flex flex-col">
        {% include 'home/header.html.twig' %}

        {% include 'home/presentation.html.twig' %}

        {% include 'home/dans_mon_chapeau.html.twig' %}

        {% include 'home/mes_potions.html.twig' %}

        {% include 'home/dans_mon_grimoire.html.twig' %}
    </main>
{% endblock %}