<div class="pl-20 py-5 shadow bg-[#d6fffe]" id="mes-potions">
    <div class="flex gap-2">

        <h2 class="font-acme text-3xl">
            Mes potions
        </h2>
    </div>

    <h3 class="font-acme text-lightgrey">// Mes outils et langages</h3>
</div>