<div id="presentation" class="bg-primary  py-14 px-20 text-white text-md relative shadow">
    <div class="w-16 -translate-y-[99%] absolute right-[15%] top-0">
        <img src="{{ asset('assets/piti_bonhomme.svg') }}" alt="">
    </div>

    <div class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias commodi corporis delectus excepturi fugit impedit iure magnam omnis, perferendis perspiciatis praesentium recusandae reiciendis rem sed totam vel veniam vitae!
    </div>
</div>